<header class="header">
	<br>
  	<h1 class="style7">Nós criamos e projetamos, fazendo o seu evento acontecer em grande estilo e de acordo com sua necessidade!</h1>
  	<h3 class="style7">Projetos arquitetônicos, montagens e produção em geral para seu evento.</h3>
</header>
<br>

<div class="large-12 columns">
  <h1 class="style7" align="center">DE PÉ PRODUÇÕES E EVENTOS</h1>
  <h4 class="style7" align="center">Promovendo com grande estilo.</h4>
  <br>
  <div class="large-12 columns">
    <div id="centro" class="large-4 small-6 columns">
      <h3><i class="fi-folder style3"></i> PROJETOS</h3>
      <hr>
      <h5>De acordo com sua necessidade, nós criamos e projetamos: desenho arquitetônico, memorial descritivo e projeto 3D.</h5>
      <%= image_tag("projetos.jpg", size: "360")%>
    </div>
    <div id="centro" class="large-4 small-6 columns">
      <h3><i class="fi-wrench style4"></i> PARCEIROS</h3>
      <hr>
      <h5>Parceiros em fechamentos, gradil, box truss, estrtura metálica, decoração, malhas, buffet, receptivo e limpeza.</h5>
      <%= image_tag("parceiros.jpg", size: "480")%>
    </div>
    <div id="centro" class="large-4 small-12 columns">
      <h3><i class="fi-torso-business style5"></i> SERVIÇOS</h3>
      <hr>
      <h5>Montagem estrutural, logística de camaríns, controle de acesso e forração de pisos em geral.</h5>
      <%= image_tag("servicos.jpg", size: "390")%>
    </div>
  </div>
</div>